<div class="reset-password-container">
  <div class="reset-password-box">
    <h2>Reset Password</h2>
    <form (ngSubmit)="resetPassword()" novalidate>

      <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input
          id="currentPassword"
          type="password"
          [(ngModel)]="resetData.currentPassword"
          name="currentPassword"
          required
        />
      </div>
      <!-- updated -->


      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input
          id="newPassword"
          type="password"
          [(ngModel)]="resetData.newPassword"
          name="newPassword"
          (input)="validatePassword()"
          (blur)="touched = true"
          required
        />

        <!-- Always visible hint -->

        <small class="hint">
          Must be at least {{ passwordService.policy.minLength }} characters and include uppercase, lowercase, number, special character.
        </small>


        <!-- Validation Errors -->

        <div class="error" *ngIf="touched && !passwordCriteria.minLength">
          Minimum {{ passwordService.policy.minLength }} characters required.
        </div>
        <div class="error" *ngIf="touched && !passwordCriteria.uppercase">
          Must include at least one uppercase letter.
        </div>
        <div class="error" *ngIf="touched && !passwordCriteria.lowercase">
          Must include at least one lowercase letter.
        </div>
        <div class="error" *ngIf="touched && !passwordCriteria.number">
          Must include at least one number.
        </div>
        <div class="error" *ngIf="touched && !passwordCriteria.specialChar">
          Must include at least one special character.
        </div>
      </div>


      <!-- ✅ Confirm Passwordssss -->
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          id="confirmPassword"
          type="password"
          [(ngModel)]="resetData.confirmPassword"
          name="confirmPassword"
          required
        />
        <div class="error" *ngIf="resetData.confirmPassword && resetData.confirmPassword !== resetData.newPassword">
          Passwords do not match.
        </div>
      </div>

      <!-- Submitted-->
      <button
        type="submit"
        [disabled]="!isPasswordValid() || resetData.newPassword !== resetData.confirmPassword"
      >
        Reset Password
      </button>

    </form>

    <p *ngIf="message">{{ message }}</p>
  </div>
</div>
